################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OtherSideCore/OtherSideCore.Wpf/obj
/OtherSideCore/OtherSideCore.Wpf/bin
/OtherSideCore/OtherSideCore.Infrastructure/bin
/OtherSideCore/OtherSideCore.Infrastructure/obj
/OtherSideCore/OtherSideCore.Domain/bin
/OtherSideCore/OtherSideCore.Domain/obj
/OtherSideCore/OtherSideCore.ViewModel/bin
/OtherSideCore/OtherSideCore.ViewModel/obj
/OtherSideCore/.vs
/.vs
