@using Application.Descriptors
@using BusinessAppFramework.Application.Interfaces
@using Application.Relations
@using Domain
@using Domain.DomainObjects
@using Microsoft.Extensions.DependencyInjection
@using MudBlazor
@using WebUI.Components.Selector
@using WebUI.Interfaces

@inject IRelationSelectorRegistry RelationSelectorRegistry
@inject IWorkspaceDescriptorFactory WorkspaceDescriptorFactory
@inject IRelationResolver RelationResolver
@inject IServiceProvider ServiceProvider

<MudChipSet T="DomainObjectReference">

    @if (DomainObjectReferenceList != null)
    {
        foreach (var reference in DomainObjectReferenceList.Items)
        {
            <MudChip T="DomainObjectReferenceListItem"
                     Color="Color.Primary"
                     CloseIcon="@Icons.Material.Filled.Close"
                     OnClose="(() => RemoveReference(reference))">
                @reference.DisplayValue
            </MudChip>
        }
    }

    <MudIconButton Icon="@Icons.Material.Filled.Add"
                   Color="Color.Primary"
                   Size="Size.Small"
                   OnClick="OpenSelector" />

    <MudDialog @bind-Visible="_showPopup"
               Options="@(new DialogOptions
               {
                   BackdropClick = true,
                   NoHeader = true,
                   MaxWidth = MaxWidth.Small,
                   FullWidth = true
               })">
        <DialogContent>
            <div>
                @if (_domainObjectSelectorRenderFragment != null)
                {
                    @_domainObjectSelectorRenderFragment
                }
            </div>
        </DialogContent>
    </MudDialog>

</MudChipSet>


@code {
    [Parameter]
    public DomainObjectReferenceList? DomainObjectReferenceList
    {
        get => _domainObjectReferenceList;
        set
        {
            if (_domainObjectReferenceList?.RelationKey == value?.RelationKey)
                return;

            _domainObjectReferenceList = value;
            HandleDomainObjectReferenceListChanged();
        }
    }
    [Parameter] public string Label { get; set; } = default!;
    [Parameter] public EventCallback<DomainObjectReferenceList?> OnDomainObjectReferenceListChanged { get; set; }

    private DomainObjectReferenceList? _domainObjectReferenceList;

    private bool _showPopup { get; set; }
    private IDomainObjectSelector? _domainObjectSelector { get; set; }
    private RenderFragment? _domainObjectSelectorRenderFragment;
    private IDomainObjectSelectorDescriptor? _domainObjectSelectorDescriptor { get; set; }

    private async void HandleDomainObjectReferenceListChanged()
    {
        if (DomainObjectReferenceList == null)
            return;

        var selectorWorkspaceKey = RelationSelectorRegistry.Resolve(StringKey.From(DomainObjectReferenceList.RelationKey));
        _domainObjectSelectorDescriptor = (IDomainObjectSelectorDescriptor)WorkspaceDescriptorFactory.GetWorkspaceDescriptor(selectorWorkspaceKey);

        var selectorType = _domainObjectSelectorDescriptor.ComponentType;

        _domainObjectSelectorRenderFragment = builder =>
        {
            builder.OpenComponent(0, selectorType);
            builder.AddAttribute(1, "Descriptor", _domainObjectSelectorDescriptor);
            builder.AddAttribute(2, "OnItemSelected", EventCallback.Factory.Create(this, (int domainObjectId) => OnItemSelected(domainObjectId)));
            builder.AddComponentReferenceCapture(3, inst =>
            {
                _domainObjectSelector = (IDomainObjectSelector)inst;
                _domainObjectSelector?.Load(String.Empty);
            });
            builder.CloseComponent();
        };
    }

    private async Task OnItemSelected(int domainObjectId)
    {
        _showPopup = false;

        if (DomainObjectReferenceList == null || DomainObjectReferenceList.Items.Any(i => i.DomainObjectId == domainObjectId))
            return;

        DomainObjectReferenceList.AddItem(domainObjectId);

        await OnDomainObjectReferenceListChanged.InvokeAsync(DomainObjectReferenceList);

        StateHasChanged();

        if (RelationResolver.TryGetReferenceListRelationEntry(StringKey.From(DomainObjectReferenceList.RelationKey), out var relationListEntry))
        {
            var gatewayType = typeof(IDomainObjectServiceGateway<>).MakeGenericType(relationListEntry.SourceDomainObjectType);
            dynamic domainObjectServiceGateway = ServiceProvider.GetRequiredService(gatewayType);
            var domainObjectReferenceListItem = await domainObjectServiceGateway.GetHydratedDomainObjectReferenceListItem(domainObjectId, DomainObjectReferenceList.RelationKey);

            var item = DomainObjectReferenceList.Items.First(i => i.DomainObjectId == domainObjectId);
            item.DisplayValue = domainObjectReferenceListItem.DisplayValue;
        }
    }

    private async void OpenSelector()
    {
        _showPopup = true;

        await Task.Delay(200);

        if (_domainObjectSelector != null)
        {
            await _domainObjectSelector.Load(string.Empty);
        }
    }

    private async void RemoveReference(DomainObjectReferenceListItem item)
    {
        DomainObjectReferenceList?.Items.Remove(item);

        await OnDomainObjectReferenceListChanged.InvokeAsync(DomainObjectReferenceList);

        StateHasChanged();
    }
}
