@using MudBlazor

<MudPaper Elevation="0"
          Style="border: 1px solid var(--mud-palette-divider); border-radius: 8px; overflow: hidden;">

    <div @onclick="Toggle"
         style="background: var(--mud-palette-background-gray);
                padding: 8px 16px;
                display: flex; align-items: center; justify-content: space-between;
                cursor: pointer;">
        <MudText Typo="Typo.subtitle2">@Title</MudText>
        <MudIcon Icon="@(Expanded? Icons.Material.Filled.ExpandLess : Icons.Material.Filled.ExpandMore)" />
    </div>

    @if (Expanded)
    {
        <MudDivider />
    }

    <MudCollapse Expanded="Expanded">
        <MudStack Spacing="4" Class="pa-4">
            @ChildContent
        </MudStack>
    </MudCollapse>

</MudPaper>

@code {
    [Parameter, EditorRequired] public string Title { get; set; } = default!;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Expanded { get; set; }

    private async Task Toggle()
    {
        Expanded = !Expanded;
    }
}
