<style>
    .osc-domainobject-page {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background: var(--mud-palette-background);
        padding: 16px;
    }

</style>

<div class="osc-domainobject-page">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}