@using MudBlazor

<style>
    .compact-tabs.mud-tabs {
            height: 100%;
        }

    .compact-tabs .mud-tabs-panels {
        border-top: 1px solid var(--mud-palette-lines-default);
    }

    .compact-tabs .mud-tab {
        text-transform: none;
        letter-spacing: normal;
        color: var(--mud-palette-text-secondary);
    }

        .compact-tabs .mud-tab.mud-tab-active {
            color: var(--mud-palette-text-primary);
            font-weight: 700;
        }

    .compact-tabs .mud-badge {
        background-color: var(--mud-palette-background) !important;
        border-width: 1px;
        border-color: var(--mud-palette-divider) !important;
        color: var(--mud-palette-text-primary) !important;
    }
</style>

<MudPaper Elevation="0"
          Outlined="true"
          Class="d-flex flex-column"
          Style="height: 100% !important; overflow: hidden;">

    <MudTabs Elevation="0"
             Rounded="true"
             ApplyEffectsToContainer="true"
             TabPanelsClass="tab-panel"
             Class="compact-tabs">
        <div class="ma-4">
            @ChildContent
        </div>
    </MudTabs>

</MudPaper>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
