@page "/document-generator/{DocumentKey}/{Id:int}"

@using BusinessAppFramework.Contracts.ApiRoutes
@using BusinessAppFramework.WebUI.Interfaces
@using Microsoft.AspNetCore.Authorization
@using Microsoft.JSInterop
@using MudBlazor

@attribute [Authorize]

@inject IDocumentGeneratorGateway DocumentGeneratorGateway
@inject IJSRuntime JS

<div style="margin: 8px auto; padding-bottom: 16px">

    <div style="width:210mm;">
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
            <MudIconButton Icon="@Icons.Material.Outlined.Download"
                           OnClick="DownloadPdfDocument" />
        </MudStack>
    </div>

    @if (_isLoading)
    {
        <div style="display:flex; justify-content:center; align-items:center; height:100vh;">
            <MudProgressCircular Indeterminate="true" Size="Size.Small" />
        </div>
    }
    else
    {
        <div style="margin-top:8px;">
            @_htmlMarkup
        </div>
    }

</div>

@code {
    [Parameter] public string DocumentKey { get; set; } = "";
    [Parameter] public int Id { get; set; }

    private bool _isLoading = true;
    private MarkupString _htmlMarkup;

    protected override async Task OnParametersSetAsync()
    {
        _isLoading = true;
        _htmlMarkup = default;

        var html = await DocumentGeneratorGateway.GetHtmlDocumentAsync(DocumentKey, Id);

        _htmlMarkup = new MarkupString(html?.HtmlContent ?? "");

        _isLoading = false;
    }

    private async Task DownloadPdfDocument()
    {
        var result = await DocumentGeneratorGateway.DownloadPdfAsync(DocumentKey, Id);

        if (result is null)
            return;

        var base64 = Convert.ToBase64String(result.Content);
        await JS.InvokeVoidAsync("oscDownload", result.FileName, result.ContentType, base64);
    }
}
