@using System.Reflection
@using BusinessAppFramework.Application.Interfaces
@using MudBlazor

@typeparam T where T : IComposite<T>

<h3>MultiLevelDataGrid</h3>

@code {
    [Parameter] public EventCallback<PropertyInfo> OnChanged { get; set; }

    private List<T> _compositeObjects = new();
    private IEnumerable<IComposite<T>> _visibleCompositeObjects => CollectVisible(_compositeObjects);

    private readonly HashSet<int> _expandedIds = new();

    private async Task ToggleExpandedAsync(IComposite<T> compositeObject)
    {
        var id = compositeObject.Id;

        if (!_expandedIds.Add(id))
        {
            _expandedIds.Remove(id);
            return;
        }
    }

    private bool IsExpanded(IComposite<T> compositeObject)
    {
        return _expandedIds.Contains(compositeObject.Id);
    }
    

    private static bool RemoveCompositeObject(IList<T> compositeObjects, T target)
    {
        if (compositeObjects.Remove(target))
            return true;

        foreach (var compositeObject in compositeObjects)
        {
            if (RemoveCompositeObject(compositeObject.Children, target))
                return true;
        }

        return false;
    }

    protected async Task<DataGridEditFormAction> OnCommitedItemChanged(IComposite<T> compositeObject)
    {
        await OnChanged.InvokeAsync();
        return DataGridEditFormAction.Close;
    }

    private static IEnumerable<IComposite<T>> Flatten(IList<T> compositeObjects)
    {
        foreach (var editor in compositeObjects)
        {
            yield return editor;

            foreach (var descendant in Flatten(editor.Children))
            {
                yield return descendant;
            }
        }
    }

    private IEnumerable<IComposite<T>> CollectVisible(IList<T> compositeObjects)
    {
        foreach (var compositeObject in compositeObjects)
        {
            yield return compositeObject;

            if (_expandedIds.Contains(compositeObject.Id))
            {
                foreach (var descendant in CollectVisible(compositeObject.Children))
                    yield return descendant;
            }
        }
    }

    private void ExpandAll()
    {
        foreach (var editor in Flatten(_compositeObjects).Where(e => e.HasChildren))
            _expandedIds.Add(editor.Id);
    }

    private void CollapseAll()
    {
        _expandedIds.Clear();
    }
}
